* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  list-style: none; }

section {
  padding-top: 200px; }

h1, h2 {
  color: #2b2b2b; }

p {
  color: gray; }

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70% auto; }
  header nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 20px;
    padding-right: 10px; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      padding: 15px; }
      header nav ul li {
        padding: 10px 25px;
        margin-left: 4px;
        color: white;
        font-size: 14px; }
  header img.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    margin: 40px 25px; }
  header main {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px; }
    header main img {
      width: 70%; }
    header main section {
      margin: 0 0 40px 0;
      width: 80%;
      text-align: center;
      padding-top: 0; }
      header main section h1 {
        font-size: 28px;
        font-family: 'Raleway', sans-serif; }
      header main section h2 {
        font-weight: 400;
        font-size: 18px;
        color: gray;
        padding: 14px 0; }
      header main section button {
        color: white;
        font-size: 22px;
        border: none;
        padding: 10px 40px;
        font-weight: 600;
        box-shadow: 0 4px 8px 0 #ddd; }

.greenBtn {
  background-color: #05d69b;
  border-radius: 6%;
  cursor: pointer; }

@media (min-width: 900px) {
  header {
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: 50% auto; }
    header nav {
      margin-top: 40px;
      padding-right: 30px; }
      header nav ul li {
        padding: 5px 25px; }
    header img.logo {
      width: 12%; }
    header main {
      height: 100%;
      flex-direction: row-reverse;
      justify-content: space-between; }
      header main img {
        width: 35%;
        bottom: 50%;
        transform: translateY(-28%);
        padding-right: 10%; }
      header main section {
        flex-basis: 45%;
        text-align: left;
        margin-left: 25px; }
        header main section h1 {
          font-size: 50px; }
        header main section h2 {
          padding: 20px 0;
          font-size: 18px; }
        header main section button {
          font-size: 18px;
          padding: 15px 70px;
          font-weight: 800; }
  .greenBtn:hover {
    cursor: pointer; } }

section.s1 {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  section.s1 h1 {
    font-size: 20px;
    width: 70%;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 40px auto; }
  section.s1 p {
    font-size: 16px; }
  section.s1 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.s1 .wrapper .elems {
      width: 50%; }
      section.s1 .wrapper .elems img {
        margin-top: 100px; }
      section.s1 .wrapper .elems p {
        margin-top: 20px; }

@media (min-width: 900px) {
  section.s1 h1 {
    margin-bottom: 20px; }
  section.s1 p {
    width: 50%;
    margin: 0 auto; }
  section.s1 .wrapper {
    flex-direction: row; }
    section.s1 .wrapper p {
      font-size: 14px; } }

section.s2 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  section.s2 span h1 {
    font-size: 18px;
    padding-bottom: 40px; }
  section.s2 span p {
    font-size: 16px; }
  section.s2 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.s2 .wrapper .elems {
      border-radius: 5px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
      width: 60%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      section.s2 .wrapper .elems img {
        height: 100px;
        padding: 30px; }
      section.s2 .wrapper .elems h2 {
        width: 100%;
        display: block;
        font-size: 18px;
        padding: 10px;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        font-family: 'Raleway', sans-serif; }
      section.s2 .wrapper .elems p {
        padding: 5px;
        padding-bottom: 10px;
        font-size: 14px; }

@media (min-width: 900px) {
  section.s2 {
    flex-direction: row;
    align-items: center; }
    section.s2 span {
      width: 30%;
      flex-grow: 1;
      text-align: left; }
      section.s2 span p {
        font-size: 10px; }
    section.s2 .wrapper {
      flex-grow: 3;
      flex-direction: row;
      flex-wrap: wrap;
      width: 400px; }
      section.s2 .wrapper .elems {
        justify-content: space-evenly;
        width: 26%;
        margin: 5px; }
        section.s2 .wrapper .elems img {
          height: 70px;
          padding: 20px; }
        section.s2 .wrapper .elems p {
          padding: 10px; } }

section.s3 {
  text-align: center; }
  section.s3 button {
    color: white;
    font-size: 22px;
    border: none;
    padding: 10px 40px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 #ddd; }

@media (min-width: 900px) {
  section.s3 p {
    margin: 0 auto;
    width: 60%;
    padding: 10px; } }
