@import 'vendor/_normalize';
@import 'core/_colors';
@import 'core/_var';
@import 'core/_typography';
@import 'layout/_header';
@import 'module/_navigation';
@import 'layout/_section1';
@import 'layout/_section2';
@import 'layout/_section3';
@import 'layout/_footer';

section {
  padding-top: 200px;
}

h1, h2 {
  color: $dark-gray;
}

p {
  color: $gray;
}
