.footer {
  &--darkblue {
    background-color: $dark-blue;
    color: $light-gray;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    width: 100%;
    .fylo-logo {
      width: 50%;
    }
    .footer__list {
      padding: 20px;
      h2 {
        color: $light-gray;
        padding: 15px;
      }
      .list__item {
        padding: 10px;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      &__wrapper {
        span {
          padding: 10px 0;
          display: block;
          img {
            display: inline;
            padding-right: 10px;
          }
          p {
            display: inline
          }
        }
      }
      p {
        margin: 20px 0;
        color: $light-gray;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .textarea {
          display: block;
          flex-basis: 100%;
          &--style {
            width: 100%;
            border-radius: $radius5;
            height: 35px;
          }

        }
        .submit {
          &__button {
            padding: 8px 20%;
            margin: 20px 0;
          }
          &--green {
            background-color: $teal;
            border-radius: $radius5;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .footer{
    &__wrapper{
      flex-direction: row;
      align-items: baseline;
      justify-content: space-evenly;
      .fylo-logo{
        width: 45%;
      }
      .footer__list {
        padding: 40px inherit;
      }
      .contact {
        flex-basis: 35%;
        &__wrapper{
          span{
            padding: 5px 0;
          }
        }
        p{}
        form{
          margin-bottom: 10px;
          flex-direction: row;
          .textarea{
            flex-basis: 80%;
            &--style{
              width: 100%;
              margin-right: 10px;
            }
          }
          .submit{
            margin: 0;
            &__button{
              padding: 8px 8%;
            }
          }
        }
      }
    }
  }
}