.footer {
  background-color: $dark-blue;
  color: $light-gray;
  display: flex;
  flex-direction: column;
  padding: 70px 0px;
  width: 100%;
  .fylo-logo {
    width: 50%;
  }

  &__element {
    padding: 20px;

    &--contact {
      display: flex;
      flex-direction: column;
        span {
          padding: 10px 0;
          display: block;
          img {
            display: inline;
            padding-right: 10px;
          }
          p {
            display: inline
          }
        }

      p {
        margin: 20px 0;
        color: $light-gray;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .textarea {
          display: block;
          flex-basis: 100%;
          width: 100%;
          border-radius: $radius5;
          height: 35px;

        }
        .submit {
          padding: 8px 20%;
          margin: 20px 0;
          cursor: pointer;

        }
      }
    }

    h2 {
      color: $light-gray;
      padding: 15px;
    }
    .list {
      &__item {
        padding: 10px;
      }
    }

  }
}

@media (min-width: 900px) {
  .footer {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    .fylo-logo {
      width: 45%;
    }
    &__element {
      padding: 40px inherit;
      &--contact {
        flex-basis: 35%;
          span {
            padding: 5px 0;
          }

        p {
        }
        form {
          margin-bottom: 10px;
          flex-direction: row;
          .textarea {
            flex-basis: 80%;
            width: 100%;
            margin-right: 10px;

          }
          .submit {
            margin: 0;
            padding: 8px 8%;
          }
        }
      }
    }

  }
}