.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 40px 25px;
  font-size: 0;
  &__image {
    width: 75%;
  }
}

@media (min-width: $breakpoint) {
  .logo {
    margin-top: 5%;
    margin-left: 7%;
    &__image{
      width: 100%;
    }
  }
}