
section.s1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 20px;
    width: 70%;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 40px auto;
  }
  p {
    font-size: 16px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .elems {
      width: 50%;
      img {
        margin-top: 100px;
      }
      p {
        margin-top: 20px;
      }
    }
  }
}

//section 1 desktop:
@media (min-width: 900px) {
  section.s1 {
    h1 {
      margin-bottom: 20px;
    }
    p {
      width: 50%;
      margin: 0 auto;
    }
    .wrapper {
      flex-direction: row;
      p {
        font-size: 14px;
      }
    }
  }
}