body {
  position: relative;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70% auto;
  overflow-x: hidden;
  .decorator{
    position: absolute;
    height: 140vh;
    width: 250vw;
    background-color: $light-gray;
    border-radius: 10%;
    top: 40%;
    left: -120%;
    @include vendor-prefix(transform,  rotate(14deg) skew(-36deg, 8deg));
    z-index: -1;
  }
}

@media (min-width: 900px) {
  body {
    background-image: url("../images/bg-intro-desktop.svg");
    background-size: 50% auto;
    .decorator{
      height: 65vh;
      width: 105vw;
      top: 25%;
      left: 0;
    }
  }
}