* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 200px;
  width: 100vw;
}

h1, h2 {
  color: $dark-gray;
  font-family: $raleway;
  font-size: 20px;
}

p {
  color: $gray;
  font-family: $open-sans;
  font-size: 16px;
}

.button {
  display: inline-block;
  cursor: pointer;
  border-radius: $radius-default;
  color: white;
  font-size: 18px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &--special{
    background-color: $teal;
  }
  &--large{
    padding: 20px 60px;
    font-weight: 600;
    font-size: 22px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 900px) {
  h2 {
    font-size: 26px;
  }
}