* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding-top: 200px;
}

h1, h2 {
  color: $dark-gray;
  font-family: $raleway;
  font-size: 20px;
}

p {
  color: $gray;
  font-family: $open-sans;
  font-size: 16px;
}

button {
  @include button-radius;
  @include green-button;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 900px) {
  h2 {
    font-size: 26px;
  }
}