.firstpage {
  height: 100vh;
  position: relative;
  .content {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    &__image {
      width: 70%;
    }
    &__text {
      margin: 0 0 40px;
      width: 80%;
      text-align: center;
      padding-top: 0;
    }
    &__header {
      font-size: 28px;
    }
    &__information {
      font-size: 18px;
      color: $gray;
      margin: 14px 0;
    }
  }
}

//desktop header:

@media (min-width: 900px) {
  .firstpage {
    height: 70vh;
    .content {
      position: absolute;
      flex-direction: row-reverse;
      justify-content: space-between;
      bottom: 50%;
      transform: translateY(65%);
      &__image {
        width: 35%;
        padding-right: 10%;
      }
      &__text {
        flex-basis: 40%;
        text-align: left;
        margin-left: 7%;
      }
      &__header {
        font-size: 50px;
      }
      &__information {
        margin: 20px 0;
        font-size: 18px;
      }
    }
  }
}
