// section 2:
.integrations {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__header {
  }
  &__slogan {
    font-size: 18px;
    padding-bottom: 40px;
  }
  &__description {
    font-size: 16px;
  }
  .integration {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__card {
      background-color: #fff;
      border-radius: $radius-default;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
      width: 60%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    &__image {
      height: 35px;
      margin: 30px;
    }
    &__label {
      width: 100%;
      display: block;
      font-size: 18px;
      padding: 15px;
      border-top: 2px solid rgba(0, 0, 0, 0.1);
      font-family: 'Raleway', sans-serif;
    }
    &__details {
      padding: 5px 5px 20px;
      font-size: 14px;
    }
  }
}

// section 2 desktop:

@media (min-width: $breakpoint) {
  .integrations {
    flex-direction: row;
    align-items: center;
    &__header {
      width: 30%;
      flex-grow: 1;
      text-align: left;
    }
    &__description {
      font-size: 10px;
    }
    .integration {
      flex-grow: 3;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 400px;
      &__card {
        width: 26%;
        &--higher {
          position: relative;
          top: -55px;
        }
      }
      margin: 10px;
      &__image {
        margin: 45px;
      }
      &__label {
        font-size: 24px;
      }
      &__details {
        color: #000;
        padding: 5px 30px 30px 30px;
      }
    }
  }
}