
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__slogan{}
  &__details{
    padding-top: 20px;
  }
  a {
    margin: 60px;
  }
}

//section3 desktop:
@media (min-width: $breakpoint) {
  .join {
    &__slogan{}
    &__details {
      margin: 0 auto;
      width: 45%;
    }
    a {
      margin: 90px;
    }
  }
}