nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 20px;
  padding-right: 10px;

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    &__item {
      padding: 10px 25px;
      margin-left: 4px;
      color: white;
      font-size: 14px;
      &--green {
        @include green-button;
      }
      &--radius {
        @include button-radius;
      }
    }
  }
}

@media (min-width: 900px) {
  nav {
    margin-top: 40px;
    padding-right: 30px;
    .menu {
      &__item {
        padding: 5px 25px;
      }
    }
  }
}
